// resources/scss/app.scss

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

[x-cloak] {
    display: none;
}


* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";

@import "./reset";


// // Import DataTables CSS
// @import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
// @import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
// @import "datatables.net-autofill-bs5/css/autoFill.bootstrap5.min.css";
// @import "datatables.net-colreorder-bs5/css/colReorder.bootstrap5.min.css";
// @import "datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css";
// @import "datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css";
// @import "datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css";
// @import "datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css";
// @import "datatables.net-rowgroup-bs5/css/rowGroup.bootstrap5.min.css";
// @import "datatables.net-rowreorder-bs5/css/rowReorder.bootstrap5.min.css";
// @import "datatables.net-scroller-bs5/css/scroller.bootstrap5.min.css";
// @import "datatables.net-searchbuilder-bs5/css/searchBuilder.bootstrap5.min.css";
// @import "datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.min.css";
// @import "datatables.net-select-bs5/css/select.bootstrap5.min.css";
// @import "datatables.net-staterestore-bs5/css/stateRestore.bootstrap5.min.css";

// @import "./mixins.scss";
@import "./variables.scss";
@import "./functions.scss";
@import "./colors.scss";
@import "./sizing.scss";
@import "./images.scss";
@import "./typography";

@import "./collapse.scss";


@import "./header.scss";
@import "./sidebar.scss";
@import "./main.scss";
@import "./hero.scss";
@import "./loading.scss";
@import "./dashboard.scss";
@import "./auth.scss";



@import "./progress.scss";
@import "./breadcrumbs.scss";


@import "./modals.scss";
@import "./datatables.scss";

@import "./forms.scss";
@import "./fields.scss";

@import "./charts.scss";


@import "./details.scss";

